body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
}

code {
}

:root {
  --pc: #003688;
  --sc: #ff6b00;
  --primary-font: "Cabin", sans-serif;
}

#main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 95vh;
}

header {
  width: 100%;
  height: 45px;
  background-color: var(--pc);
  color: white;
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  padding: 0px;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 5px 0px 5px black;
}

#h1-onAspyere {
  font-size: 12px;
  font-weight: bold;
  color: var(--pc);
  background-color: white;
  border-radius: 15px;
  padding: 2px 10px;
  margin-left: 15px;
  display: inline;
}

ul {
  list-style: none;
  padding: 0px;
}

textarea {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px;
  font-family: var(--primary-font);
  background-color: rgb(243, 243, 243);
  transition-duration: 0.2s;

  transition-property: border-bottom, background-color;
}

textarea:focus {
  background-color: white;
  outline: none;
  color: var(--pc);
  border-color: rgb(231, 231, 231);
  border-bottom: var(--pc) 3px solid;
}

input {
  background-color: transparent;
  border: none;
  border-bottom: grey solid 2px;
  font-family: var(--primary-font);
  padding: 5px;
  color: black;
  transition: all 0.2s;
}

input::placeholder {
  color: grey;
  font-weight: 100;
}

input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: grey;
}

input:focus {
  outline: none;
  border-bottom: var(--pc) solid 3px;
  color: var(--pc);
  font-weight: 700;
}

input:focus::placeholder {
  color: var(--pc);
}

input:focus::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--pc);
}

input[type="file"] {
  border: none;
}

.i2 {
  background-color: lightgrey;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 3px solid black;
  box-shadow: 1px 1px 3px black;
  margin: 0px;
}

.i2:focus {
  color: black;
  border-color: black;
  background-color: white;
}

.i2:focus::placeholder {
  color: darkgrey;
}

.i2:focus::-ms-input-placeholder {
  /* Microsoft Edge */
  color: darkgrey;
}

.numberInputLong {
  width: 150px;
}

button {
  font-family: var(--primary-font);
  font-size: 16px;
}

.arrow-button span {
  transition: all 0.3s;
}

.arrow-button:hover span {
  letter-spacing: 5px;
}

.toDBListButton {
  display: inline-block;
  margin: 30px 0px;
  font-weight: bold;
  font-size: 16px;
}

.submit-button {
  color: green;
  border-radius: 5px;
  border: 2px solid green;
  padding: 5px;
  background-color: white;
  font-weight: bold;
  transition: all 0.2s;
}

.submit-button:hover {
  background-color: green;
  color: white;
}

.cancel-button {
  margin: 10px;
  color: red;
  border-radius: 5px;
  border: 2px solid red;
  padding: 5px;
  background-color: white;
  font-weight: bold;
  transition: all 0.2s;
}

.cancel-button:hover {
  background-color: red;
  color: white;
}

.sb {
  font-weight: bold;
  padding: 3px 15px;
  border-radius: 5px;
  background-color: var(--sc);
  border: 2.5px solid var(--sc);
  color: white;
  transition: all 0.2s;
  margin-left: 10px;
}

.ssb {
  font-size: 14px;
  padding: 3px 10px;
  border-radius: 7px;
  background-color: lightgrey;
  border: none;
  font-weight: 500;
  transition: all 0.3s;
  box-shadow: 0px 0px 3px darkgrey;
}

.ssb:hover {
  opacity: 0.7;
}

.sb:hover {
  color: var(--sc);
  background-color: white;
}

.bb {
  border-radius: 10px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  padding: 3px 10px;
  background-color: black;
  border: 3px solid black;
  transition: all 0.3s;
}

.bb:hover {
  background-color: white;
  color: black;
}

.bb i {
  margin-right: 5px;
}

header #title-h1 {
  margin: 0px 2vw;
  color: white;
  font-style: italic;
  font-size: 20px;
}

.options-header {
  position: relative;
  height: 100%;
}

.options-header .header-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  text-align: center;
  font-weight: bolder;
}

.header-text i {
  margin-left: 5px;
  font-size: 15px;
}

.options-header ul.dropdown {
  position: absolute;
  display: none;
  bottom: 0px;
  transform: translateY(
    100%
  ); /*THIS IS THE HEIGHT OF THE HEADER, MANUALLY SET*/
  margin: 0px;
}

.options-header:hover .dropdown {
  display: block;
}

.dropdown {
  width: 100%;
  box-shadow: 1px 2px 5px black;
}

.dropdown .d-item {
  width: 100%;
  background-color: lightgrey;
  color: black;
  border: none;
  border-bottom: 1px solid black;
  padding: 0px;
  min-height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  font-size: 16px;
}

.dropdown .d-item:hover {
  font-size: 18px;
  font-weight: bolder;
  background-color: var(--sc);
  text-shadow: 1px 1px 2px var(--sc);
}

#header-account-area {
  padding: 0px 10px;
}

#header-account-button {
  padding: 4px 15px 4px 10px;
  border-radius: 13px;
  border: none;
  /* border: 2px solid white; */
  background-color: var(--sc);
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  font-weight: bolder;
  font-size: 14px;
  transition: all 0.3s;
}

#header-account-button:hover {
  background-color: black;
}

#header-account-button img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
  /* border: 2px solid black; */
}

.grayed-out-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup {
  max-width: 80%;
  max-height: 90%;
  overflow-y: scroll;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 3px 3px 5px black;
}

/*stands for "no-scroll-popup"*/
.nsp {
  overflow: hidden;
}

#gIcon-image {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.react-link {
  text-decoration: none;
  color: black;
}

.header-link {
  color: white;
  font-weight: 700;
  transition: all 0.2s;
  margin: 0px 10px;
}

.header-link:hover {
  opacity: 0.7;
}

button:focus {
  outline: none;
}

#auth-button {
  border: 3px solid #cc0000;
  background-color: #cc0000;
  color: white;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 20px;
  transition: all 0.3s;
}

#auth-button:hover {
  background-color: white;
  color: #cc0000;
}

#auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

#auth-container h2 {
  font-size: 30px;
}

.add-q-image-container {
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  max-width: 300px;
  position: relative;
  margin: 10px 0px;
}

.add-q-image-container img {
  max-height: 300px;
  max-width: 300px;
  border: 2px solid black;
  box-sizing: border-box;
}

.add-q-image-container .x-out {
  position: absolute;
  top: 0;
  right: 0;
}

.create-button {
  border-radius: 25px;
  padding: 10px 15px;
  color: white;
  background-color: var(--sc);
  font-size: 16px;
  font-family: var(--primary-font);
  border: none;
  box-shadow: 1px 1px 3px lightgrey;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}

.create-button:hover {
  opacity: 0.8;
}

.create-button .plus {
  margin: 0px 10px;
  font-size: 20px;
}

ul#db-list {
  list-style: none;
  padding: 0px;
}

li.db-single {
  margin: 10px 0px;
  width: 80vw;
}

li.db-single .db-single-button {
  width: 80vw;
  text-align: left;
  font-family: var(--primary-font);
}

.db-single-button h2,
.db-single-button p {
  margin: 5px;
}

#dbdashboard-main {
  width: 100vw;
  padding: 2vh 5vw;
  box-sizing: border-box;
}

#db-title h2,
#db-title p {
  margin: 5px 0px;
}

#db-title {
  margin-bottom: 10vh;
}

.switch-menu {
  width: 100%;
  display: grid;
}

.switch-menu button {
  width: 90%;
  margin: auto;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  font-family: var(--primary-font);
  color: #aaa;
  transition: all 0.5s;
}

.switch-menu button:hover {
  filter: brightness(70%);
}

.switch-menu button.selected:hover {
  /*if it is selected, then don't change opacity when hovering over*/
  opacity: 1;
}

.switch-menu button span {
  display: block;
  width: 100%;
  height: 4px;
  margin-top: 15px;
  background-color: #aaa;
}

.switch-menu button.selected {
  color: var(--pc);
  text-shadow: 1px 1px 2px var(--pc);
  font-weight: bolder;
  font-size: 30px;
}

.switch-menu button.selected span {
  background-color: var(--pc);
}

#db-dashboard-switch-menu {
  grid-template-columns: repeat(2, 1fr);
}

#dbquestions-container {
  margin: 5vh 0px;
}

#add-to-database {
}

#add-to-database h5 {
  font-size: 26px;
  margin: 15px 0px;
}

#edit-question-text {
  margin: 20px 0px;
  height: 15vh;
  max-width: 600px;
  min-width: 600px;
  min-height: 30px;
  font-size: 20px;
}

#difficulty-edit {
  margin-left: 5px;
  margin-bottom: 30px;
}

#difficultyInput {
  display: block;
  width: 200px;
  margin-bottom: 20px;
  margin-top: 5px;
}

.x-out {
  border-radius: 3px;
  font-family: var(--primary-font);
  font-weight: bolder;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid red;
  box-shadow: 2px 2px 5px grey;
  display: inline-block;
  padding: 1px 4px;
  font-size: 11px;
  margin: 5px 10px;
  font-weight: bolder;
  font-size: 12px;
  color: red;
  transition: all 0.2s;
}

.x-out:hover {
  opacity: 0.8;
}

#add-q-tags-list li,
#add-q-answers-list li {
  margin-left: 10px;
}

#add-q-answers,
#add-q-tags {
  margin: 50px 0px 30px 0px;
}

ul#ul-dbquestions {
  list-style: none;
  padding: 0px;
}

.single-question {
  margin: 8vh 0px;
}

.single-question .id-q {
  padding: 5px;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-weight: bold;
  width: 250px;
  text-align: center;
  margin: 20px 0px;
}

.single-question .points {
  margin: 0px 10px;
}

.single-question .first-line-q {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.single-question .first-line-q h6 {
  margin: 0;
  font-size: 24px;
}

.single-question .first-line-q div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.first-line-q div button {
  border-radius: 10px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sc);
  color: white;
  font-weight: bolder;
  font-size: 20px;
  width: 80%;
  max-width: 150px;
  font-family: var(--primary-font);
  border: 2px solid var(--sc);
  transition: all 0.3s;
  box-shadow: 2px 2px 5px grey;
}

.first-line-q button:hover {
  background-color: white;
  color: var(--sc);
}

.first-line-q button i {
  margin-left: 5px;
  font-size: 16px;
}

.difficulty-q {
  font-size: 16px;
  font-weight: bolder;
  color: var(--sc);
  margin: 15px 0px;
}

.images-q {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.images-q img {
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  box-shadow: 3px 3px 5px grey;
  margin: 30px 10px;
}

.tags-q {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.tags-q li {
  padding: 5px 15px;
  border-radius: 15px;
  background-color: var(--pc);
  color: white;
  box-shadow: 2px 2px 5px grey;
  margin: 5px;
}

.answers-q {
  margin: 20px 0px;
  font-weight: bolder;
  font-size: 20px;
}

#admin-text {
  text-align: center;
  margin-top: 20vh;
  font-weight: bold;
  font-size: 20px;
  padding: 0px 5%;
}

#create-db-description {
  margin: 20px 0px;
  width: 100%;
  height: 20vh;
}

.db-admin-dbName input {
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0px 10px 0px;
}

.db-admin-dbDescription textarea {
  font-size: 16px;
  min-width: 80%;
  max-width: 80%;
  min-height: 15vh;
  max-height: 30vh;
}

.dbadmin-memberCode {
  margin: 7vh 0px 20px 0px;
  font-weight: bolder;
  font-size: 26px;
}

.db-admin-changeMemberCode input {
  margin: 20px 0px;
}

.db-admin-changeMemberCode input {
  font-size: 20px;
}

.db-admin-changeMemberCode .sb {
  font-size: 16px;
  border-width: 2.5px;
}

.dbadmin-checkbox {
  font-size: 18px;
  font-weight: bolder;
}

.dbadmin-checkbox input {
  background-color: grey;
  margin-right: 10px;
}

.dbadmin-members,
.dbadmin-admins {
  padding: 15px;
  border-radius: 15px;
  background-color: lightgrey;
  box-shadow: 3px 3px 5px grey;
  font-weight: bolder;
  margin: 30px 0px;
}

.dbadmin-members div,
.dbadmin-admins div {
  font-size: 22px;
  margin-bottom: 20px;
}

.dbadmin-members ul li,
.dbadmin-admins ul li {
  margin-left: 5px;
}

.dbadmin-members ul li hr,
.dbadmin-admins ul li hr {
  border-top: black 2px solid;
}

#nonexistent-db {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 20px;
  margin-bottom: 40vh;
  box-sizing: border-box;
  padding: 0px 10%;
}

#platformList-container {
  width: 90vw;
  box-sizing: border-box;
}

#platformList-container > h2 {
  font-size: 2.3em;
  margin-bottom: 0px;
}

#platformList-container > p {
  margin-bottom: 30px;
}

.single-platform {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px var(--pc);
  margin: 20px 0px;
}

.single-platform h3 {
  margin: 0px;
  font-size: 26px;
}

.single-platform p {
  margin: 2px 0px 10px 5px;
}

.single-platform div.platform-id {
  padding: 3px 15px;
  border-radius: 15px;
  background-color: black;
  color: white;
  box-shadow: 2px 2px 3px grey;
  margin: 20px 0px;
  display: inline-block;
}

.join-button {
  display: block;
  color: white;
  border: 2.5px solid var(--sc);
  padding: 5px 10px;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--sc);
  transition: all 0.3s;
}

.join-button:hover {
  background-color: white;
  color: var(--sc);
}

#platform-container {
  width: 95vw;
  box-sizing: border-box;
}

#group-header {
  background-color: rgb(75, 75, 75);
  padding: 20px;
  box-sizing: border-box;
  color: white;
  margin: 0px;
  margin-bottom: 15vh;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 2px 2px 5px black;
}

#group-name {
  margin: 10px 0px 0px 0px;
  font-size: 36px;
}

#group-description {
  margin: 10px 0px 0px 3px;
}

#group-admins {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px 0px 20px 0px;
}

.unjoin-button {
  margin-bottom: 10px;
}

#group-admins li {
  font-size: 16px;
  font-weight: bolder;
  margin: 5px 25px 5px 0px;
  display: flex;
  align-items: center;
}

.person-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0px 0px 3px black;
  margin: 0px;
}

#group-admins li img {
  margin-right: 5px;
}

#groups-list,
#joined-groups {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#groups-list {
  margin-bottom: 20vh;
}

#joined-groups {
  background-color: lightgrey;
  padding: 5vh 10px;
  border-radius: 5px;
  margin: 0vh 0px 7vh 0px;
}

.your-groups-text {
  margin: 5vh 0px 10px 0px;
  background-color: lightgrey;
  padding: 10px 20px;
  font-weight: 20px;
  border-radius: 10px;
  display: inline-block;
  font-size: 30px;
  box-shadow: 2px 2px 5px black;
}

.single-group {
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  background-color: white;
  width: 95%;
  margin: 15px auto;
}

.single-group h3 {
  font-size: 26px;
  margin: 0;
}

.single-group ul li {
  padding: 5px 15px;
  border-radius: 15px;
  background-color: black;
  color: white;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  font-weight: bolder;
}

.single-group ul {
  margin-bottom: 10px;
}

#eventsList-container {
  min-height: 60vh;
  margin-bottom: 30vh;
}

#eventsList-container h2 {
  text-align: center;
  font-size: 36px;
  margin: 40px 0px;
  text-shadow: 0px 1px 2px black;
}

.past-events-button {
  border-radius: 5px;
  color: white;
  padding: 2px 5px;
  background-color: black;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s;
  border: 3px solid black;
  text-align: center;
  width: 160px;
  margin: 0px 50%;
  transform: translate(-50%, -20px);
}

.past-events-button:hover {
  background-color: white;
  color: black;
}

#eventsList-ul {
  list-style: none;
}

.single-event {
  list-style: none;
  width: 95%;
  color: black;
  background-color: white;
  margin: 20px auto;
  padding: 20px 5%;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 3px 3px 5px black;
}

.single-event.live-event {
  background-color: var(--sc);
}

.single-event h3 {
  margin: 0px 0px 10px 0px;
  font-size: 30px;
}

.single-event .event-starting-time {
  color: white;
  background-color: var(--pc);
  padding: 3px 15px;
  font-weight: bolder;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px black;
  display: inline-block;
}

.single-event .event-duration {
  font-size: 19px;
  font-weight: bolder;
  box-shadow: 3px 3px 3px black;
  border-radius: 5px;
  color: white;
  padding: 3px 10px;
  background-color: black;
  display: inline-block;
  margin: 10px;
}

.single-event .single-event p {
  margin: 10px 0px;
}

.single-event .event-topics {
  display: flex;
  flex-wrap: wrap;
}

.single-event .event-topics li {
  background-color: lightgrey;
  padding: 4px 15px;
  border-radius: 15px;
  margin: 3px 5px;
  box-shadow: 2px 2px 2px black;
}

.sixty-sec-countdown {
  color: red;
  font-weight: bolder;
  font-size: 22px;
  margin: 10px 0px;
}

.begin-button {
  border: 2.5px solid black;
  background-color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 24px;
  color: black;
  transition: all 0.2s;
  font-family: var(--primary-font);
  box-shadow: 2px 2px 5px black;
  margin: 20px 0px;
}

.begin-button:hover {
  background-color: black;
  color: white;
}

.past-events-ul li {
  background-color: lightgrey;
  opacity: 0.6;
}

.past-events-ul li .edit-event-button {
}

#platformAdmin-form {
  margin: 30px 3%;
}

#platformAdmin-form input {
}

#platformAdmin-form #platformNameInput {
  font-size: 30px;
  font-weight: bolder;
}

#platformAdmin-form textarea {
  font-size: 18px;
  width: 80%;
  max-width: 80%;
  display: block;
  min-width: 80%;
  margin: 20px 0px;
  box-sizing: border-box;
}

.single-db-platformAdmin {
  font-weight: bolder;
  padding: 10px 15px;
  color: white;
  background-color: black;
  max-width: 200px;
  overflow: hidden;
  margin: 5px;
  box-shadow: 2px 2px 3px grey;
  position: relative;
  transition: all 0.3s;
  z-index: 1;
}

.single-db-platformAdmin:hover {
}

.single-db-platformAdmin i {
  margin-right: 15px;
  font-size: 30px;
}

.single-db-platformAdmin > button {
  opacity: 0;
  position: absolute;
  border-radius: 5px;
  background-color: gray;
  color: red;
  padding: 5px 15px;
  text-shadow: 1px 1px 2px red;
  font-weight: bolder;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.connectDB h4 {
  padding: 10px 0px;
  font-size: 30px;
  margin: 0px;
}

.connectDB p {
  font-size: 12px;
  margin: 0px;
}

.connectDB input {
  font-size: 18px;
  display: block;
  margin: 20px 0px;
  width: 80%;
  min-width: 250px;
  max-width: 500px;
}

.single-db-platformAdmin:hover > button {
  opacity: 1;
  transition: all 0.3s;
}

.single-db-platformAdmin:hover > button:hover {
  background-color: lightgray;
}

#platformAdmin-form .toggle-container {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.toggle-container > div {
  margin: 0px 0px 0px 10px;
}

.toggle-container > div > div {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}

.toggle-container > div > p {
  margin: 0;
  font-size: 12px;
}

.single-groupOption {
  /* padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 1px 1px 3px black; */
  display: flex;
  margin: 0px auto 20px 10px;
  align-items: center;
}

.single-groupOption div h5 {
  margin: 0px;
  font-size: 16px;
}

.single-groupOption div p {
  margin: 0px;
  font-size: 12px;
}

.add-groupOption input {
  margin: 5px 0px;
}

.edit-code-container {
  display: flex;
  align-items: center;
}

.edit-code-container p {
  font-weight: bolder;
  margin: 0px 10px 0px 30px;
}

#save-changes-bar {
  width: 90%;
  display: flex;
  margin: 30px auto 0px auto;
  position: sticky;
  position: -webkit-sticky;
  top: 5px;
  box-sizing: border-box;
  background-color: white;
  border: 3px solid var(--pc);
  border-radius: 15px;
  padding: 5px 15px;
  align-items: center;
  box-shadow: 0px 0px 3px var(--pc);
  z-index: 100;
}

#save-changes-bar div {
  font-weight: bolder;
  margin-right: auto;
  color: var(--pc);
  font-size: 18px;
}

.large-popup {
  width: 90vw;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 20px 30px;
  box-sizing: border-box;
  overflow-y: scroll;
  max-height: 95vh;
}

.editEvent-container {
  position: relative;
}

.editEvent-container h3 {
  font-size: 26px;
  margin: 0px;
  margin-bottom: 20px;
}

.editEvent-container input {
  margin: 5px 0px;
}

.editEvent-container input[name="name"] {
  font-size: 30px;
}

.react-datepicker-component {
  font-size: 18px;
  font-weight: bolder;
}

#duration-inputs {
  display: flex;
  align-items: center;
}

#duration-inputs input {
  width: 40px;
  display: block;
  margin: 0px;
  text-align: right;
}

#duration-inputs input[name="inputHrs"] {
  margin-left: 5px;
}

.editEvent-container h4 {
  color: white;
  background-color: var(--pc);
  padding: 3px 35px;
  border-radius: 15px;
  font-size: 18px;
  display: inline-block;
  margin: 30px 0px 10px 0px;
}

section#question-settings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: lightgrey;
  padding: 20px 40px;
  border-radius: 10px;
  max-height: 90vh;
  width: 95vw;

  box-sizing: border-box;
  overflow-y: scroll;
  box-shadow: 5px 5px 15px black;
}

#question-settings h5 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0px 0px 20px 0px;
}

#question-settings .single-setting {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  flex-wrap: wrap;
}

.single-setting div {
  margin: 0px 10px;
}

.single-setting div h6 {
  margin: 0px;
  font-size: 16px;
}

.single-setting div p {
  margin: 0px;
  font-size: 12px;
}

.or-text {
  font-weight: bolder;
  font-size: 20px;
  padding: 10px 30px;
}

.single-setting input[type="checkbox"] {
  margin-right: 5px;
}

#question-tags li {
  display: flex;
  align-items: center;
  margin: 5px 25px;
}

#question-tags li div {
  padding: 4px 20px;
  background-color: var(--pc);
  color: white;
  border-radius: 15px;
}

#event-questions .single-question {
  border-radius: 10px;
  box-shadow: 3px 3px 6px black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  overflow-x: hidden;
  margin: 10px 0px;
}

.single-question h6 {
  font-weight: bolder;
  font-size: 16px;
  margin: 0px 10px 0px 0px;
}

.single-event .event-description {
  margin: 0px 0px 20px 0px;
}

.single-question .q-info,
.single-question .q-tag {
  margin: 5px 5px;
  color: white;
  background-color: var(--sc);
  border-radius: 15px;
  padding: 2px 15px;
}

.single-question .q-tag {
  background-color: var(--pc);
}

.single-question .q-db {
  margin: 5px 20px;
}

.editEvent-button {
  margin: 0px 10px 0px 0px;
  padding: 3px 10px;
  font-size: 16px;
}

.heading-note {
  padding: 5px 15px;
  border: 3px solid var(--pc);
  border-radius: 15px;
  font-size: 18px;
  font-weight: bolder;
  color: var(--pc);
  position: sticky;
  position: -webkit-sticky; /*Safari*/
  top: 10px;
  background-color: white;
}

.edit-event-button {
  font-size: 20px;
  border-color: black;
  background-color: black;
  margin: 10px 0px;
}

.edit-event-button:hover {
  color: black;
}

input[name="topicInput"] {
  margin: 0px 10px;
}

.event-topics li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 20px;
}

.event-topics li div {
  color: white;
  padding: 3px 15px;
  border-radius: 15px;
  background-color: black;
}

#account-container {
  text-align: center;
  margin-top: 30px;
}

#account-container h2 {
  font-size: 40px;
  font-family: var(--primary-font);
}

.account-displayName {
  font-size: 20px;
  font-weight: bolder;
}

.account-img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 5px black;
  margin: 30px 0px;
}

#logout-button {
  margin-top: 30px;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 3px solid var(--sc);
  transition: all 0.3s;
  background-color: var(--sc);
  color: white;
}

#logout-button:hover {
  color: var(--sc);
  background-color: white;
}

#liveQuestions-container {
  border: 3px solid black;
  border-radius: 15px;
  width: 90vw;
  margin: 10vh 0px;
  padding: 20px 3vw;
  box-sizing: border-box;
  max-width: 1200px;
  position: relative;
}

.single-liveQuestion {
  position: relative;
  margin-bottom: 15vh;
  display: flex;
  flex-direction: row;
}

.single-liveQuestion .q-number {
  font-weight: bolder;
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
  display: inline-block;
  margin: 0px 20px 20px 0px;
  box-shadow: 3px 3px 5px black;
}

.single-liveQuestion .q-text {
  font-size: 22px;
  font-weight: bolder;
}

.single-liveQuestion .col-3 {
  margin-left: auto;
  width: 250px;
}

.answer-input {
  font-size: 20px;
  max-width: 150px;
}

.loading-container,
.error-container {
  font-size: 40px;
  font-weight: bolder;
  box-sizing: border-box;
  padding: 0px 5vw;
  margin: 30vh auto;
}

.back-to-platform-button {
  margin: 20px auto;
  width: 300px;
  font-size: 26px;
}

.q-images {
  display: flex;
  flex-wrap: wrap;
}

.single-qImage {
  max-width: 60%;
  height: auto;
  margin: 10px;
}

.q-points {
  font-weight: bolder;
  font-size: 18px;
}

.answer-feedback {
  display: flex;
  align-items: center;
}

.answer-feedback .isCorrectIcon {
  font-size: 30px;
  margin-right: 15px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid;
  border-radius: 15px;
}

.answer-feedback.correct {
  color: green;
}

.answer-feedback.incorrect {
  color: red;
}

.answer-feedback .user-answer {
  font-size: 20px;
  font-weight: bolder;
  width: 150px;
  border-bottom: 2px solid;
  padding: 0px 5px;
}

.answer-feedback .isCorrect {
  font-size: 18px;
  font-weight: bold;
  margin: 5px;
}

.accepted-answers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 15px 1px;
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  opacity: 0.5;
  transition: all 0.5s;
}

.accepted-answers:hover {
  opacity: 1;
}

.accepted-answers p,
.accepted-answers span {
  margin: 0px 3px;
}

.accepted-answers span::after {
  content: ",";
}

.accepted-answers span:last-child::after {
  content: "";
}

#event-description {
  margin-bottom: 15vh;
}

#liveQuestions-container h2 {
  font-size: 36px;
  text-shadow: 2px 2px 3px grey;
  margin: 0px;
}

.back-button.arrow-button {
  background-color: transparent;
  border: none;
  margin: 20px 0px;
  font-size: 18px;
  font-weight: bolder;
}

.submit-answers-popup {
  border-radius: 5px;
  overflow: hidden;
}

.submit-answers-popup h4 {
  margin: 15px 0px;
  font-size: 24px;
}

.submit-answers-final {
  background-color: var(--pc);
  border: 3px solid var(--pc);
  color: white;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bolder;
  margin: 0px 20px 20px 10px;
  transition: all 0.3s;
}

.submit-answers-final:hover {
  background-color: white;
  color: var(--pc);
}

.submit-answers-container {
  display: flex;
  flex-direction: row-reverse;
}

.submit-answers-proxy {
  font-size: 26px;
  padding: 10px 15px;
  border-radius: 5px;
}

.submitError {
  width: 400px;
  padding: 20px;
  font-size: 22px;
  font-weight: bolder;
  overflow: hidden;
  background-color: red;
  max-width: 80%;
}

.submitError .cancel-button {
  box-shadow: 2px 2px 5px black;
}

#countdown-clock {
  padding: 20px;
  background-color: olivedrab;
  border-radius: 10px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#countdown-clock h3 {
  text-align: center;
  font-size: 22px;
  margin: 5px;
}

#countdown-clock > section {
  display: flex;
  flex-direction: row;
}

#countdown-clock > section > div {
  margin: 5px;
}

#countdown-clock div h5 {
  margin: 0px;
  font-size: 24px;
  color: white;
  font-weight: bolder;
  background-color: black;
  padding: 5px 5px;
  border-radius: 3px;
  width: 30px;
  text-align: right;
}

#countdown-clock div span {
  width: 100%;
  text-align: center;
}

#create-group-popup {
  padding: 10px 30px;
}

#create-group-popup h3 {
  font-size: 22px;
}

#createGroupCode-container {
  padding: 10px 30px;
  border-radius: 15px;
  border: 3px solid var(--sc);
  box-shadow: 1px 1px 5px var(--sc);
  margin: 10px 0px 30px 0px;
}

#create-group-popup input[name="inputName"] {
  font-size: 26px;
  margin-bottom: 10px;
}

#create-group-popup select {
  font-size: 18px;
  border: 3px solid black;
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
  padding: 3px;
}

#create-group-popup .create-group-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#groupAdmin-container {
  width: 90%;
  margin: auto;
}

#groupAdmin-container section {
  margin: 10vh 0px;
}

.groupAdmin-header h3 {
  font-size: 36px;
  font-weight: bolder;
  margin: 10px 0px 5px 0px;
}
.groupAdmin-header p {
  font-size: 12px;
  color: grey;
  margin: 0px 0px 30px 0px;
}

#recent-activity ul {
  padding: 0px;
  margin: 0px 0px 10vh 0px;
}

#recent-activity ul li {
  padding: 0px;
}

.single-activity {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px 0px;
  font-size: 18px;
  font-weight: 600;
}

.single-activity .activity-time {
  font-size: 16px;
  color: grey;
  margin-right: 10px;
  position: relative;
  left: -10px;
  font-weight: 100;
}

.activity-eventName {
  margin: 0px 15px;
  padding: 2px 15px;
  font-weight: 300;
  font-size: 16px;
  color: white;
  border-radius: 15px;
  background-color: var(--pc);
}

.no-ra-text {
  font-size: 16px;
  font-weight: bold;
  margin: 5vh 30px;
}

.view-more-recent-activity {
  margin: 5vh 10px;
}

.view-more-recent-activity button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.view-more-recent-activity i {
  margin-right: 10px;
}

.view-more-recent-activity button:hover {
  opacity: 0.5;
}
.input-field-container {
  display: flex;
  align-items: center;
}

.input-field-container input {
  margin: 5px;
}

.input-field-container input[name="inputName"] {
  font-size: 30px;
}

.input-field-container.joinCode {
  padding: 10px 20px;
  border-radius: 15px;
  border: 3px solid black;
  box-shadow: 1px 1px 5px var(--sc);
  background-color: lightgrey;
  margin: 30px 0px;
  margin-right: auto;
  width: 470px;
}

.input-field-container.joinCode i {
  font-size: 24px;
  margin-right: 10px;
}

#groupUsers-list {
  width: 97%;
  margin: auto;
}

#groupUsers-list li .li-main {
  display: flex;
  align-items: center;
}

#groupUsers-list li .li-main div {
  margin: 0px 10px;
}

.admin-label {
  background-color: black;
  color: white;
  padding: 3px 10px;
  font-weight: bolder;
  border-radius: 5px;
  box-shadow: 1px 1px 3px black;
}

#user-stats-container {
  width: 80vw;
  margin: 10vh auto;
}

.single-stat {
  margin: 20px 0px;
  display: flex;
  align-items: center;
}

.single-stat p {
  margin: 0px 20px 0px 0px;
  font-size: 24px;
  font-weight: bolder;
}

.progress-bar {
  min-width: 300px;
  width: 60%;
  border: 3px solid black;
  height: 30px;
  background: linear-gradient(to right, rgb(199, 0, 0), lightgreen);
  position: relative;
}

.progress-bar .cover {
  right: 0;
  top: 0;
  position: absolute;
  height: 101%;
  background-color: white;
}

.single-stat .col-3 {
  font-weight: bolder;
  font-size: 36px;
  margin-left: 10px;
}

.section-header h2 {
  font-size: 36px;
  margin: 0px;
}

.section-header p {
  color: grey;
  font-size: 16px;
  font-weight: 500;
  margin: 5px 0px;
}

.section-header {
  margin-bottom: 5vh;
}

.statspopup {
  padding: 0px 5vw;
  position: relative;
}

.statspopup .cancel-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.danger-zone {
  width: 100%;
  background-color: rgb(255, 235, 238);
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  color: red;
  font-weight: bolder;
  padding: 10px 20px;
  box-sizing: border-box;
}

.danger-zone > p {
  font-size: 24px;
  margin: 10px 0px;
}

.danger-zone button {
  background-color: red;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
  border: 3px solid red;
  transition: all 0.3s;
  font-weight: bolder;
}

.danger-zone button:hover {
  background-color: white;
  color: red;
}

.popup.red {
  background-color: white;
  color: red;
  border: 4px solid red;
}

.redinput {
  border: 3px solid red;
  background-color: pink;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}

.redinput:focus {
  color: red;
  background-color: white;
  border-color: red;
}

.redinput:focus::placeholder {
  color: rgb(252, 86, 86);
}

.redinput:focus::-moz-placeholder {
  color: rgb(252, 86, 86);
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 18px;
  height: 40vh;
  width: 100%;
}

.connect-button {
  margin-top: 10px;
}

.dbId-container {
}

.dbId-container h4 {
  font-size: 18px;
  margin: 10px 0px 0px 0px;
}

.dbId-container > p {
  font-size: 14px;
  color: grey;
  margin: 0px;
}

.dbId-container main {
  margin: 20px 0px;
  font-size: 30px;
  text-decoration: underline;
  display: flex;
}

.copy-button {
  border: none;
  background-color: transparent;
  font-weight: bolder;
  font-size: 26px;
  text-decoration: none;
  margin-left: 10px;
  transition: all 0.3s;
}

.copy-button:hover {
  text-shadow: 1px 1px 2px black;
}

.platformPopup .first-row {
  display: flex;
  align-items: center;
}

.single-myPlatform {
  display: flex;
  align-items: center;
}

.single-myPlatform .join-platform-button {
  font-weight: bolder;
  font-size: 20px;
  color: white;
  background-color: black;
  border-radius: 7px;
  border: 3px solid black;
  transition: all 0.3s;
  padding: 10px;
  margin: 0px 10px;
}

.single-myPlatform .join-platform-button:hover {
  color: black;
  background-color: white;
}

.single-myPlatform .platform-nd {
  margin: 10px;
}
.single-myPlatform .platform-nd h5 {
  margin: 0px;
  font-size: 20px;
}

.single-myPlatform .platform-nd p {
  margin: 0px;
  font-size: 14px;
}

.single-myPlatform .joined-text {
  font-weight: bold;
  color: var(--sc);
  margin: 0px 20px;
  text-shadow: 1px 1px 2px var(--sc);
}

.create-platform.popup h4 {
  font-size: 22px;
}

.create-platform.popup input[name="inputName"] {
  font-size: 24px;
  display: block;
}

.create-platform.popup textarea {
  min-height: 100px;
  max-height: 200px;
  margin: 30px 0px;
  min-width: 280px;
  max-width: 280px;
  display: block;
}

footer {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--pc);
  color: white;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
